.users-table, th, td {
    border: 2px solid var(--white-color);
    border-collapse: collapse;
    font-size: 16px;
    width: 1140px;
    text-align: center;
    height: 45px;
}

th {
    background-color: #F6F6F6;
}

td{
    background-color: white;
}

.users-table-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 1em;
}